<!--
 PAGO RECHAZADO:
 El pago fue sido rechazado o no finalizó
-->

<div class="layout-card-holder">
	<h2 style="color: firebrick;">Failure</h2>
	<div style="border-color: firebrick" class="card">
		<span>Ha ocurrido un error en el procesamiento del pago. El pago fue sido rechazado o no finalizó,</span>
	</div>
</div>