<!--
 PAGO PENDIENTE:
 Se eligió un meido de pago Offline
-->

<div class="layout-card-holder">
	<script src="https://www.mercadopago.com/v2/security.js" view=""></script>
	<h2 style="color: darkgoldenrod;">Pago pendiente</h2>
	<div style="border-color: darkgoldenrod" class="card">
		<span>Elegiste pagar con un medio de pago offline. Tu pago se encuentra pendiente.</span>
	</div>
</div>